body {
	background-color: #ddd;
	margin: 0;
	padding: 0;
}

.maze-overflow {
	border: 3px solid #000;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.maze {
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.5s ease 0s;
}

.maze-map {
	display: block;
}

.unit {
	background: url(../i/zombie_left.gif) no-repeat 0 0;
	background-size: 80% auto;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
	transition: left 0.5s linear 0s, top 0.5s linear 0s;
}

.unit.left {background-image: url(../i/zombie_left.gif);}
.unit.down {background-image: url(../i/zombie_left.gif);}
.unit.right {background-image: url(../i/zombie_right.gif);}
.unit.up {background-image: url(../i/zombie_right.gif);}

.unit_player {
	background-image: url(../i/player_left.gif);
	z-index: 1;
	transition-duration: 0.1s;
}

.unit_player.left {background-image: url(../i/player_left.gif);}
.unit_player.down {background-image: url(../i/player_left.gif);}
.unit_player.right {background-image: url(../i/player_right.gif);}
.unit_player.up {background-image: url(../i/player_right.gif);}
